* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: left;
}

p {
    font-size: 15px;
}

.login-container {
    width: 70vw;
    height: 80vh;
    background: #ffffff;
    color: black;
    display: flex;
    justify-content: space-between;
}

.error {
    border: 2px solid red;
}

form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
}

form > input {
    padding: 2px;
    padding-left: 1rem;
    background-color: white;
    height: 2rem;
    color: black;
    border: 2px solid lightgray;
    border-radius: 1rem;
    outline: 0;
}

form > input:focus {
    border: 2px solid #5138ee;
    outline: 0;
}


form > p {
    padding: 5px;
}


input::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
}

label {
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 3px;
}


.form-section {
    padding: 2rem;
    margin: auto;
}


.image-section {
    background: #5138ee;
    width: 50%;
}


form > button {
    margin-top: 1rem;
    background-color: #5138ee;
    border-radius: 2rem;
    height: 2.5rem;
    width: auto;
    text-align: center;
    line-height: 2px;
}



.image-section {
    background: url('./assets/5559852.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-up {
    background: url('./assets/representation-user-experience-interface-design-smartphone.jpg');
    background-size: cover;
    border-radius: 1rem;
    width: 60%;
    height: 30%;
    animation: up-down 1.5s infinite alternate;
    margin-top: 5rem;
    margin-left: 10%;
}
.image-down {
    background: url('./assets/representation-user-experience-interface-design-smartphone1.jpg');
    background-size: cover;
    border-radius: 1rem;
    width: 50%;
    height: 40%;
    animation: left-right 2s infinite alternate;
    margin-top: -4rem;
    margin-left: 12rem;
    /* background: black; */
}




.image-section > h3 {
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.image-section > p {
    margin: 1rem;
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Animations */

@-webkit-keyframes up-down {
    0% { transform: translateY(0); }
    100% { transform: translate(-5px, 10px); }
}
@keyframes up-down {
    0% { transform: translateY(0); }
    100% { transform: translate(-5px, 10px); }
}

@-webkit-keyframes left-right {
    0% { transform: translateX(0); }
    100% { transform: translate(10px, 10px);}
}
@keyframes left-right {
    0% { transform: translateX(0); }
    100% { transform: translate(10px, 10px); }
}




