.profilecard, .friendrequests {
    padding: 2rem;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.profile-image {
    border-radius: 50%;
    background: #000;
    margin: 5px;
}

.profilecard > p {
    font-size: 12px;
    font-weight: 400;
}

.profilecard > h3 {
    font-weight: 500;
}
.profilecard > h4 {
    font-size: .7rem;
    font-weight: 500;
}

button {
    margin-top: 1rem;
    background-color: #5138ee;
    border-radius: 2rem;
    height: 2.5rem;
    width: auto;
    text-align: center;
    line-height: 2px;
}

.search {
    margin: 1rem;
    text-align: center;
    background-color: white;
    height: 2rem;
    color: black;
    border: 2px solid lightgray;
    border-radius: 1rem;
    outline: 0;
}

.searchInput {
    text-align: center;
}

.searchInput > input {
    all:unset
}


.availdata {
    display: flex;
    gap: 10px;
    padding-top: 10rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    align-items: center;
    height: 10rem;
    overflow-y: scroll;
}

.availdata > div {
    border-radius: 1rem;
    height: 5rem;
    border: 1px solid grey;
    padding: 20px;
    background: rgba(212, 234, 253, 0.966);
    width: 100%;
}

.searchcard {
    display: flex;
    flex-direction: column;
}

.availdata > div > p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}